color1 = #4861ff
color2 = #00b292
color3 = #ff003d
color4 = #489bf8
color6 = #494949
color7 = #E3E3E3
color8 = #696969
/* ocultar barra scroll en chrome sustituido al elemento directamente más abajo */
/*
::-webkit-scrollbar{
	display: none;					
}
*/
/*
*
	font-family: QuicksandR;
*/

body
	/*
	font-family: 'Open Sans', sans-serif;
	*/
	font-family QuicksandR;
	font-size .9em 
	min-width 320px		

.mtop26
	margin-top 26px
.mtop10
	margin-top 10px
.mtop12
	margin-top 12px
.mtop16
	margin-top 15px
.mtop32
	margin-top 32px

/* estilos mensajes de error */
.alert-danger
.alert-success
	padding 1rem 1rem
	max-height 1000px
	font-size 1em
	overflow-y hidden
	/*border 1px solid*/
	transition max-height .3s linear,padding .5s ease-out
	
.hide	
	max-height 0px	
	padding-top 0px
	padding-bottom 0px
	border 0px
/* fin estilos mensajes de error */

.btn_sail
	align-items center	
	color #E7E7E7
	display flex
	font-family QuicksandB
	font-size .9em
	&:hover
		color #FFF
	&:focus
		box-shadow 0 0 6px #4861ff
	i
		display flex
		margin 2px 2px 0px 0px
.btn_pry
	background-color color1
	color color7
	&:hover
		color #FFF
	&:focus
		box-shadow 0 0 6px color1
		color #FFF
		
.btn_sry
	background-color color2
	&:focus
		box-shadow 0 0 6px color2

.btn_primary
	align-items center
	background-color color1
	color #E7E7E7
	display flex
	font-family QuicksandB
	font-size .9em
	&:hover
		color #FFF
	
	i
		display flex
		margin 2px 2px 0px 0px
.dflex
	display flex
.mauto
	margin auto
	
.content
	background-color #D3D3D3
	display flex
	min-height 100vh
	width 100%
	.paths		
		margin auto 10px
		ul
			display inline-flex
			padding 0
			list-style: none
			a
				color #696969
				text-decoration none
				font-size .8em
				font-weight bold				
			li.sublist_name, li.list_name
				display inline-flex
				align-items center
				a
					display inline-flex
					align-items center
					.icon
						background-position center
						background-repeat no-repeat
						background-size 100%
						display flex
						height 18px								
						width 14px
					.icon_cat
						background-image url('../icons/grid_cat.svg')						
					.icon_subcat
						background-image url('../icons/grid_subcat.svg')
					.icon_attr
						background-image url('../icons/attribute.svg')
					.icon_value
						background-image url('../icons/values.svg')
						
					span
						margin-left 2px	
						&:hover
							color color4						
					&:hover
						color color4
						.icon_cat
							background-image url('../icons/grid_cat_489bf8.svg')
					&:hover
						.icon_subcat
							background-image url('../icons/grid_subcat_489bf8.svg')
					&:hover
						.icon_attr
							background-image url('../icons/attribute_489bf8.svg')
					&:hover
						.icon_value
							background-image url('../icons/values_489bf8.svg')
				
	.sectionL
		background-color #FFF
		border-top color4 1px solid
		display flex
		transition width 1s linear
		width 12%
		min-width 40px
		@media screen and (max-width: 992px)
			width 5%
		.sidebar
			background-color color6
			width 100%
			.logo
				display flex
				padding-top 10px
				img
					width 48px
					margin auto
					@media screen and (max-width: 992px)
						width 32px
			.options
				ul
					margin 0px 
					padding 0px
					li
						display flex
						list-style none
						a							
							color #D3D3D3
							font-family QuicksandB
							padding 15px 0px 15px 15px
							text-decoration none
							width 100%
							
							/*
							i
								color #FFF
							*/
							.icon								
								background-position center
								background-repeat no-repeat
								background-size 100%
								display flex
								height 20px								
								width 16px
							.icon_cat
								background-image url('../icons/grid_cat_D3D3D3.svg')
							.icon_value
								background-image url('../icons/attribute_E7E7E7.svg')
							
								
							&:hover
								.icon_cat
									background-image url('../icons/grid_cat_white.svg')
									
								.icon_value
									background-image url('../icons/attribute_white.svg')
							
							span
								margin-left 2px
							&:hover
								color #FFF
						&:hover
							background-color #454545
							cursor pointer
							
	.sectionR
		width 86%
		margin 0px 10px		
		.inner
			@media screen and (max-width: 400px)
				width 96%
			.filters
				display flex
				
				align-items center
				ul.addL
					display flex
					justify-content flex-start
					.input-group .form-control
						padding-left 2rem
						padding-right 2rem
						
					.input-group
						
						span
							color #aaa
							display block
							position absolute
							text-align center
							z-index 4							
						.form-control-icon
							cursor none
							top 2px
							left 4px
							transform translate(10%,50%) scale(1.4)
						.form-control-icon2
							cursor pointer
							top 1px
							right 8px
							transform translate(10%,50%) scale(1.5)
						.active
							color:#696969
						
								
								
								
							
				ul.add					
					display flex
					justify-content flex-end
					
					/*
					background-color #f9f9f9
					border-bottom #696969 1px solid
					border-radius 4px				
					*/
					padding 4px 4px
					width 100%
					
					li					
						font-family QuicksandB
						
						list-style none
						margin auto 2px
						position relative
						button
							/*sustituido por btn_primary*/
							/*
							background-color #4861ff
							color #F3F3F3
							font-size .9em
							*/
							margin auto 2px
							/*
							&:hover
								color #FFF
							&:focus
								box-shadow 0 0 6px #4861ff
							*/
						ul
							li
								font-size .9em
								i
									font-size .8em
					/*	
						&:hover
							ul							
								display block
									
						ul
							display none
							left -75px
							padding 0						
							position absolute						
							width 150px
					*/	
			width 100%
			padding-top 14px
			/* ocultar barra scroll en chrome */
			.div_table::-webkit-scrollbar{
					display none
				}
			.div_table
				background-color #f9f9f9
				border-radius 8px
				overflow-x auto
				scrollbar{ display none}
				/* ocultar barra scroll en mozilla firefox */
				scrollbar-width none
				
				
				
				thead
					font-family QuicksandB !important
					font-size .9em
					tr
						td,th
							text-align center
						td.max
							width 800px
							
				/*
				tbody { > tr, & { > td { > a {						
					display flex
					vertical-align middle
					align-items center
					margin auto
					justify-content center
				}}}}
				*/
				tbody
					tr
						td							
							text-align center
							vertical-align middle
							img
								margin auto
						
							
							
							/*
							p
								white-space nowrap
								overflow hidden
								text-overflow ellipsis
							*/
							
							
					
				/*
				.minibox
					background-color #E9E9E9
					border 1px solid #D3D3D3
					border-radius 4px
					margin auto 5px
					text-align center
				*/
				.admin_items
					display flex
					margin auto
					min-width 125px
					a
						align-items center
						
						display flex
						font-size .9em
						height 38px
						margin auto
						width 38px
						i							
							margin auto
					button
						margin auto
						height 31px
					.scat
						background-color #4861ff							
						border #4861ff 1px solid
						color #E7E7E7
						.icon
							
							background-position center
							background-repeat no-repeat
							background-size 100%
							display flex
							height 20px								
							width 16px
						.icon_subcat
							background-image url('../icons/grid_subcat_E7E7E7.svg')
						.icon_value
							background-image url('../icons/attribute_E7E7E7.svg')
						&:hover
							.icon_subcat
								background-image url('../icons/grid_subcat_white.svg')
						&:hover
							.icon_value
								background-image url('../icons/attribute_white.svg')
								
						&:hover,&:focus
							box-shadow 0 0 6px color1
							color #FFF
						
					.edit
						background-color color2
						color #E7E7E7
						&:hover
							color #FFF
							box-shadow 0 0 6px color2
						&:focus
							box-shadow 0 0 6px color2
					.delete
						background-color color3
						color #E7E7E7
						&:hover
							color #FFF
							box-shadow 0 0 6px color3
						&:focus
							box-shadow 0 0 6px color3
							
	.sectionE
		width 0%
		display flex
		@media screen and (max-width: 768px)
			width 0
		.menu_options
			width 100%
			background-color #f9f9f9
			ul
				list-style none
				padding 0				
			button
				background-color #7952b3
				color #FFF
				font-weight bold
				width 100%
				i					
					float right
					margin-top 5px
					
				&:hover					
					color lightblue
					outline 0
				&:active
					outline 0
				&:link
					outline 0
				&:focus
					box-shadow 0 0 4px 0.10rem lightblue

	

		
.permissions
	.panel
		width 100%
		
		button
			font-size 1.2em
			i
				font-size .8em
			&:hover
				background-color color1
				color #FFF
			&:focus
				background-color color1
				color #FFF
		.collapse_attributes
			align-items center
			display flex
			justify-content center
			margin auto 3px
			.div_icon_attributes
				align-items center
				display flex
				justify-content center
				span
					margin auto 4px
				i
					margin-top 5px
				.icon
					background-position center
					background-repeat no-repeat
					background-size 100%
					display flex
					height 18px								
					width 14px
				.icon_value
					background-image url('../icons/values.svg')
			&:hover
				.icon_value
					background-image url('../icons/values_white.svg')
		/*
		.header
			padding 15px
			border-bottom #696969 1px solid
		*/
		.box
			padding 15px 
	.buttons
		display flex
		justify-content end
		button
			margin 16px 3px
.edit_modal
	.modal-header
		padding 1.2rem 1.1rem

		.img_user
			background-position 50%
			background-size 100% auto
			border-radius 50%
			left:10px;
			margin-top:5px
			object-fit contain
			padding 5px
			margin 5px 			
			position:absolute;
			width 64px
			height 64px

/*modal confirm combinations*/
.confirmComb
	align-items center
	background-color rgba(0,0,0,.4)
	display flex
	font-size 0
	height 0
	left 0
	opacity 0
	overflow hidden
	position absolute
	transition opacity .3s linear
	width 0
	z-index 1
.confirmComb.showconfirm
	height 100%
	opacity 1
	width 100%
	
/* fin modal confirm combinations*/
	
.active
	display block !important
.active_inflex
	display inline-flex
.subcat
	display none

/* galería */
							
.back_upload
	width 100%
	height 120px
	display flex
	vertical-align middle
	overflow auto
	/*ocultar barra de scroll en firefox*/
	scrollbar-width none
.back_upload .box
	display flex
	align-items center
	height 120px
	justify-content space-between
	outline #676767 1px solid
	position absolute
	/*restamos el padding del mat-expansion de angular material y sumamos 
	1 para que no se solape el outline*/
	width calc(100% - 32px)
	span				
		font-size 2em
		position relative
		z-index 2
	span.left
		left 5px
	span.right
		right 5px
.back_upload .info_upload
	position absolute
	display flex
	vertical-align middle
	justify-content center
	align-items center
	width calc(100% - 32px)
	min-height 120px
.back_upload .text
	font-size 10px
	margin auto
	position absolute
	top 10px

.info_upload .btn
	margin auto
	background-color rgba(0,0,0,.8)
	color white
.back_upload .back_images
	display flex
	user-select none

.back_images .box_images
	border #F3F3F3 1px solid
	border-radius 5px
	display flex
	width 150px
	
	position relative
	overflow hidden
	align-items center
	margin 2px
/* provisional para meterlo en un div con height 100px, a 200px como estaba no es necesaria*/
.back_images .box_images span
	
	height:100%
.back_images .div_images
	width 100%
	height 100%
	overflow hidden
	object-fit cover
	display flex
	justify-content center
.back_images .div_images .loading_transfer
	background-color rgba(0,0,0,.5)
	height 100%
	position absolute
	width 100%
	z-index 999
.back_images .images
	width auto
	height auto
	overflow hidden
.back_images .upload_image
	background-color white
	cursor pointer
	left 3px	
	position absolute
	top 5px
	i
		font-size 1.5em
	
.back_images .delete_images
	background-color white
	cursor pointer
	position absolute
	top 5px
	right 3px
	i
		font-size 1.5em
.gallery
	display flex
	margin-top 10px
	margin-bottom 10px
.gallery_images
	margin auto 5px
.gallery_images .div_images
	outline #696969 1px solid
	border-radius 5px
	display flex
	height 100px
	position relative
	width 100px
	
.gallery_images .div_images .box_image
	display flex
	padding:2px
.gallery_images .div_images .back_slide
	background-color rgba(0,0,0,.4)	
	border-radius 5px
	height 100%
	opacity 0
	position absolute
	width 100%
	&:hover		
		opacity 1
		
.gallery_images .div_images .back_slide .delete_images
	cursor pointer
	position absolute
	right 3px
	top 3px
	i
		font-size 1.5em
/* modal confirmación de eliminación de galería */
.confirmGallery
	align-items center
	background-color rgba(0,0,0,.4)
	display flex
	font-size 0
	height 0
	left 0
	opacity 0
	overflow hidden
	position absolute
	transition opacity .3s linear
	width 0
	z-index 1
.confirmGallery.showconfirm2
	height 100%
	opacity 1
	width 100%	
	overflow auto
/* modal confirmación de eliminación de galería */

/* fin galería de imágenes */


/* botón de subir galería de imágenes (settings) */
#settings .div_btn_gallery
	display none
	text-align center
	margin-top 12px
#settings .div_btn_gallery .active
	display flex
	
/* fin botón de subir galería de imágenes (settings) */

/* ajustes de configuración (admin)*/
.admin_settings
	.admin_panels
		display inline-flex
		height 100%
		justify-content space-around
		margin auto
		text-align center
		width 100%		
		.panel_settings			
			display inline-flex
			margin-top 16px
			text-align left
			width 25%
			.card
				width 100%
	.buttons
		display flex
		justify-content end

/* fin ajustes de configuración (admin)*/

/* font-face */
@font-face
	font-family QuicksandR	
	src url(../fonts/quicksand/Quicksand-Regular.ttf)
	
@font-face
	font-family QuicksandB	
	src url(../fonts/quicksand/Quicksand-Bold.ttf)

/* fin font-face */

@media only screen and (max-width 1200px)
	.admin_settings
		width 100%		
		.admin_panels			
			display inline-flex
			flex-flow row wrap
			
			width 100%
			.panel_settings
				display inline-flex				
				width 45%
	
@media only screen and (max-width 772px)
	.admin_settings
		.admin_panels
			text-align center
			.panel_settings
				width 98%
				
	
						

				


				
				

				
