color1 = #FFF
color2 = #494949

/* ocultar barra scroll en chrome sustituido al elemento directamente más abajo */
/*
::-webkit-scrollbar{
	display: none;					
}
*/
/*
*
	font-family: QuicksandR;
*/

body
	/*
	font-family: 'Open Sans', sans-serif;
	*/
	font-family QuicksandR;
	font-size .9em 		

	
.mtop16
	margin-top 15px

/* estilos mensajes de error */
.alert-danger
.alert-success
	padding 1rem 1rem
	max-height 1000px
	font-size 1em
	overflow-y hidden
	/*border 1px solid*/
	transition max-height .3s linear,padding .5s ease-out
	
.hide	
	max-height 0px	
	padding-top 0px
	padding-bottom 0px
	border 0px
/* fin estilos mensajes de error */
.content
	background-color #D3D3D3
	display flex
	min-height 100vh
	width 100%
	.paths		
		margin auto 10px
		ul
			display inline-flex
			padding 0
			list-style: none
			a
				color #696969
				text-decoration none
				font-size .8em
				
				
	.sectionL
		background-color #FFF
		border-top darkorange 1px solid
		display flex
		width 12%
		.sidebar
			background-color color2
			width 100%
			.logo
				display flex
				padding-top 10px
				img
					width 64px
					margin auto
			.options
				ul
					margin 0px 
					padding 0px
					li
						display flex
						list-style none
						a							
							color #D3D3D3
							font-family QuicksandB
							padding 15px 0px 15px 15px
							text-decoration none
							width 100%					
							&:hover
								color lightblue
						&:hover
							background-color #454545
							cursor pointer
								
	.sectionR
		width 86%
		margin 0px 10px		
		.inner
			.filters
				display flex
				
				align-items center
				ul.addL
					display flex
					justify-content flex-start									
				ul.add					
					display flex
					justify-content flex-end
					
					/*
					background-color #f9f9f9
					border-bottom #696969 1px solid
					border-radius 4px				
					*/
					padding 4px 4px
					width 100%
					
					li					
						font-family QuicksandB
						
						list-style none
						margin auto 2px
						position relative
						button
							color #F3F3F3
							font-size .9em
							margin auto 2px
							&:hover
								color #FFF
						ul
							li
								font-size .9em
					/*	
						&:hover
							ul							
								display block
									
						ul
							display none
							left -75px
							padding 0						
							position absolute						
							width 150px
					*/	
			width 100%
			padding-top 14px
			/* ocultar barra scroll en chrome */
			.div_table::-webkit-scrollbar{
					display none
				}
			.div_table
				background-color #f9f9f9
				border-radius 8px
				overflow-x auto
				scrollbar{ display none}
				/* ocultar barra scroll en mozilla firefox */
				scrollbar-width none
				
				
				
				thead
					font-family QuicksandB !important
					font-size .9em
					tr
						td,th
							text-align center
				/*
				tbody { > tr, & { > td { > a {						
					display flex
					vertical-align middle
					align-items center
					margin auto
					justify-content center
				}}}}
				*/
				tbody
					tr
						td							
							text-align center
							vertical-align middle
							img
								margin auto
							
					
				
				.minibox
					background-color #E9E9E9
					border 1px solid #D3D3D3
					border-radius 4px
					margin auto 5px
					text-align center
			
					.admin_items
						display flex
						margin auto
						a
							align-items center
							display flex
							font-size .9em
							height 38px
							margin auto
							width 38px
							i
								margin auto
	.sectionE
		width 8%
		display flex
		.menu_options
			width 100%
			background-color #f9f9f9
			ul
				list-style none
				padding 0				
			button
				background-color #7952b3
				color #FFF
				font-weight bold
				width 100%
				i					
					float right
					margin-top 5px
					
				&:hover					
					color lightblue
					outline 0
				&:active
					outline 0
				&:link
					outline 0
				&:focus
					box-shadow 0 0 4px 0.10rem lightblue

.permissions
	.panel
		width 100%
		.header
			padding 15px
			border-bottom #696969 1px solid
		.box
			padding 15px 
			



.active
	display block !important
.subcat
	display none
	

@font-face
	font-family QuicksandR	
	src url(../fonts/quicksand/Quicksand-Regular.ttf)
	
@font-face
	font-family QuicksandB	
	src url(../fonts/quicksand/Quicksand-Bold.ttf)


	
						

				


				
				

				
