color1 = #4861ff
color2 = #00b292
color3 = #ff003d
color4 = #489bf8
color6 = #494949
color7 = #E3E3E3
color8 = #696969

.mauto
	margin auto
.mtop10
	margin-top 10px
.mtop16
	margin-top 16px
.mtop32
	margin-top 32px

.btn_pry
	background-color color1
	color color7
	&:hover
		color #FFF
	&:focus
		box-shadow 0 0 6px color1
.btn_sry
	background-color color2
	&:hover
		color #FFF
	&:focus
		box-shadow 0 0 6px color2
.btn_grey
	background-color color6
	color color7
	&:hover
		color #FFF
	&:focus
		box-shadow 0 0 6px color6

.lat, .lat
	width 10%
	li
		list-style none
		a
			color #696969
.lat_left
	li
		float left
		
.lat_right
	justify-content flex-end
	display flex
	li	
		display flex		
		

.nav_user
	display flex
	justify-content center
	width 80%
	ul
		display flex
		padding 0
		
		li
			display flex
			list-style none
			a
				color #696969				
				font-weight bold
				text-decoration none
				
			a.cart
				display flex		
				span
					display flex
					align-items center
					i
						margin-right 2px
.menu_hidden
	display none

.div_products_list
	display block
	text-align center
	width 100%
	
	.products
		display inline-flex
		flex-flow row wrap
		margin auto
		position relative
		text-align left
		width 18%
			
		.image
			align-items center
			display flex
			justify-content center
			position relative
			overflow hidden
			width 100%
			.layer
				background-color rgba(0,0,0,.1)
				border-radius 6px
				cursor pointer			
				display none			
				height 100%
				position absolute
				width 100%
				z-index 4
				
				.favorite
					display flex
					height 30%
					margin-left 5px
					width 100%
					position relative
					.icon					
						align-items center
						background-color color1
						border-radius 50%
						color color1
						display flex
						font-size 1.2em
						height 15px
						justify-content center
						margin-top 5px
						padding 15px
						width 15px
						i
							font-size .8em
							color #FFF
				.plus				
					align-items flex-end
					display flex
					height 70%
					justify-content center
					position relative
					width 100%
					.plus_btn					
						button
							color #FFF
							margin-bottom 5px
						
			img
				padding 12px
				max-height 200px
				transform scale(1)
				transition .3s all ease-in-out
		
		&:hover
			.layer
				display block
			.image
				img
					transform scale(1.10)
		.title
			display flex
			margin 10px auto
		.price
			margin auto

.modal_item
	padding-top 15px
.modal_item .modal-content,.product_item	
	.title_item
		h5
			font-family QuicksandB
			font-size 1.7em
	
	.carousel_item
		/*display inline-flex*/
		justify-content center
		margin auto
		overflow hidden
		padding 10px		
		img
			margin 100px auto
			padding 10px
			height auto
		
	.quantity_item,.div_product
		
		.price
			
			span				
				font-size 1.5em
			p
				font-size 0.7em
		
		.combinations			
			display block
			margin-bottom 20px
			.combinations_name
				border-bottom color7 1px solid
				margin-bottom 8px
				width 100%			
			.combinations_items
				
				display flex
				flex-flow row wrap
				.item
					position relative
					.mylabel
						height 100%
						position absolute
						opacity 0
						cursor pointer
						width 100%
						z-index 999
						
					input + label
						border-radius 5px
						color color6
						margin 5px
						outline color7 1px solid
						padding 2px 8px
						
					input[type=radio]:checked + label
						background-color color1
						color #FFF
					
					
		.quantity
			display flex
			.amount_action
				align-items center
				background-color #696969
				border-radius 50%
				color color7
				display flex
				float left
				font-size .8em
				margin-top 4px
				height 32px
				justify-content center
				text-decoration none
				width 32px
				&:first-child
					margin-right 8px
				&:last-child
					margin-left 8px
				&:active
					box-shadow 0 0 6px color6
					color #FFF		
			.form-control
				float left
				width calc(100% - 80px)
		.quantity_btn
			align-items center
			display flex
			justify-content center
			
			button
				background-color color1
				border-radius 5px
				color color7
				margin auto 10px
				cursor pointer
				&:active
					box-shadow 0 0 6px color1
					color #FFF
					
			button:disabled
				cursor not-allowed
				pointer-events all 
					
			.icon
				align-items center
				background-color color1
				border-radius 50%
				cursor pointer
				display flex
				font-size 1.2em
				justify-content center
				height 30px
				vertical-align middle
				width 30px				
				i					
					color color7
					font-size .8em
			
				&:active
					box-shadow 0 0 6px color1
					color #FFF
			.icon.disabled
				cursor not-allowed
				opacity 0.7
				
/* sobreescribimos algunas clases del product y utilizando las clases del modal fastview*/
.div_product
	display flex
	
	
	width 100%
	.product_gallery
		width 40%		
		.image
			/*display flex*/
			justify-content center
			margin auto
			padding 0 15px
			
			img
				align-items center
				margin 0 auto
				
				max-width 400px
				max-height 800px
				/* responsive
				width 100%
				*/
				padding 0 30px
	.product
		display block
		margin 20px
		width 60%
		.header
			text-align center
		.combinations.product_combinations			
			width 90%
			.combinations_items
					
				display flex
				flex-flow row wrap
				.item
					position relative
					.mylabel
						height 100%
						position absolute
						opacity 0
						cursor pointer
						width 100%
						z-index 999
						
					input + label
						border-radius 5px
						color color6
						margin 5px
						outline color7 1px solid
						padding 2px 8px
						
					input[type=radio]:checked + label
						background-color color1
						color #FFF
					
		.icon_product
			align-items center
			background-color color1
			border-radius 50%
			cursor pointer
			display flex
			font-size 1.2em
			justify-content center
			height 40px
			vertical-align middle
			width 40px
			i					
				color color7
				font-size .8em
		
			&:active
				box-shadow 0 0 6px color1
				color #FFF
		
			
/* clases para los botones del slider slick (por defecto se encuentra transparent)
como existen 2 uno es el carousel de product y otro el modal de product
*/
/* comunes para los 2 carouseles*/
.product_slick,.productmodal_slick
	.slick-arrow
		align-items center
		
		border-radius 50%
		display flex	
		justify-content center
		
		z-index 90
		&:before
			position relative
			top 1px	
		&:hover
		&:active
		&:focus
			background-color rgba(0,0,0,.75)
/*modificamos ancho y alto de botones según si es el carousel de product o product modal*/
.product_slick
	.slick-next
		right 8px
	.slick-prev
		left 8px
	.slick-arrow
		background-color rgba(0,0,0,.6)	
		height 36px
		width 36px

.productmodal_slick
	.slick-next
		right 8px
		/* modifica el color del guión
		&:hover
			background-color orange
		*/
	.slick-prev
		left 8px
	
	.slick-arrow
		background-color rgba(0,0,0,.6)	
		height 16px
		width 16px
		/* modifica el color del guión
		&:hover		
			background-color orange
		*/
	.slick-arrow:before
		/* color con before modifica el fondo del guión*/
		color color7
		font-size 30px
		opacity 1
	
	
	
/* modal fastview */
.fastview_footer
	display flex
	flex-flow row
	justify-content end

/* producto */
.product_message, .fastview_message
	display flex
	justify-content space-between
	p
		margin 0


/* fin producto */
				
/* carrito de compras */
.cart
	.empty_cart
		display flex
		justify-content center
		margin-top 32px
		p
			color color6
			font-size 18px
	.cart_header
		border-bottom color7 2px solid
	.cart_orders_items
		display flex
		justify-content center
		margin-top 16px		
		width 100%
		.table_orders_items
			width 100%
			thead
				tr
					td
						text-align center
			tbody
				tr	
					td.image
						margin 10px auto
						min-width 120px
						display flex
						justify-content center
					td.quantity
						margin auto
						min-width 120px
						
						.div_quantity
							display flex
						
							width 100%
							input
								min-width 80px
								max-width 100px
								width 100%
							.amount_action
								align-items center
								background-color #696969
								border-radius 50%
								color color7
								display flex
								float left
								font-size .8em
								margin-top 4px
								height 32px
								justify-content center
								text-decoration none
								width 32px
								min-width 32px
								&:first-child
									margin-right 8px
								&:last-child
									margin-left 8px
								&:active
									box-shadow 0 0 6px color6
									color #FFF
					td.subtotal
						font-size 1.2em
						font-weight bold
						text-align center
			
			
	.admin_items
		.edit
			background-color color2
			color #E7E7E7
			&:hover
				color #FFF
				box-shadow 0 0 6px color2
			&:focus
				box-shadow 0 0 6px color2
		.delete
			background-color color3
			color #E7E7E7
			&:hover
				color #FFF
				box-shadow 0 0 6px color3
			&:focus
				box-shadow 0 0 6px color3

	.resum
		display flex
		
		justify-content space-between
		padding 10px
		span.left
			font-size 1.2em
		span.right
			font-size 1.3em
	.finish_order
		display flex
		justify-content center
		margin-bottom 20px
		button
			color color7
			&:hover
				color #FFF
		button:disabled
			cursor not-allowed
			pointer-events all
.address
  	.div_address
		padding-bottom 0
	.address_header
		display flex
		justify-content space-between
		padding 10px
	.empty_address
		display flex
		justify-content center
		margin-top 32px
	.address_orders_items
		display flex
		justify-content center
		margin-top 16px		
		width 100%
		.table_orders_items
			width 100%
			thead
				tr
					td
						text-align center
			.admin_items
				display flex
				justify-content space-around
	
	#collapse_address
		margin-top 5px
		
		.input
			margin auto
			input:checked::after
				width 15px
				height 15px
				content ''
				position relative
				display inline-block
				border 2px solid color4
				color orange
				top -4px
				left -1px
				border-radius 15px
				background-color color1
		.card-title
			font-size 22px				
		.card-text
			div
				display flex
		
			
		.card-body			
			cursor pointer				
		a
			margin auto
			width 50%
		.card-body.active
			border color1 2px solid
	#collapse_payment		
					
			
			/*
			input:checked::after
				display none
			*/
		
		.div_btn_payment
			
			margin auto
			.btn_payment
				display flex
				margin 5px auto
				padding 4px 20px
				position relative
				input
					cursor pointer
					height 100%
					left 0
					opacity 0
					position absolute
					top 0					
					width 100%
				&:hover
					background-color color1
					color #FFF
				&:focus
					background-color color1
					color #FFF
					
			 sustituido por el focus
			.btn_payment.active
				background-color color1
				box-shadow 0 0 6px color1
				color #FFF
				
				
.btn_collapse
	display flex
	justify-content space-between
	width 100%
	i			
		align-items center
		display flex					
/* fin carrito de compras */
/* panel direcciones	*/

			
/* fin panel direcciones	*/
		
		
			
@media only screen and (max-width 1200px)
	.div_product
		.product_gallery
			.image
				img
					padding 0 0
	
@media only screen and (max-width 992px)
	.nav_user
		
		ul
			display none
	.lat_right
			
	
	.menu_hidden
		display flex
		align-items center

@media only screen and (max-width 768px)
	.div_products_list
		.products
			width 42%
			.title
				text-align center
/* font-face */
@font-face
	font-family QuicksandR	
	src url(../fonts/quicksand/Quicksand-Regular.ttf)
	
@font-face
	font-family QuicksandB	
	src url(../fonts/quicksand/Quicksand-Bold.ttf)

/* fin font-face */


			
			