color1 = #4861ff
color2 = #00b292
color3 = #ff003d
color4 = #489bf8
color6 = #494949
color7 = #E3E3E3
color8 = #696969
color9 = #D3D3D3
color10 = #F3F3F3
rgba2 = rgba(0,178,146,1)


.mauto
	margin auto
.mtop10
	margin-top 10px
.mtop16
	margin-top 16px
.mtop32
	margin-top 32px
.p10
	padding 10px
.p5
	padding 5px
.btn_pry
	font-family QuicksandB
	background-color color1
	color color7
	&:hover
		color #FFF
	&:focus
		box-shadow 0 0 6px color1
		color #FFF
.btn_sry
	background-color color2
	&:hover
		color #FFF
	&:focus
		box-shadow 0 0 6px color2
		color #FFF
.btn_grey
	background-color color6
	color color7
	&:hover
		color #FFF
	&:focus
		box-shadow 0 0 6px color6
		color #FFF
.btn_red
	font-family QuicksandB
	background-color color3
	color color7
	&:hover
		color #FFF
	&:focus
		box-shadow 0 0 6px color3
		color #FFF
.btn_floatup
	bottom 30px
	cursor pointer
	opacity 0
	position fixed
	right 30px
	transition all .5s linear
	z-index 1
	i
		font-size 3em
	
.dflex
	display flex
.detail	
	ul
		padding 10px
		list-style square inside
		
			
#loading
	background-color rgba(255,255,255,.9);
	display none
	height 100%
	position absolute
	width 100%
	z-index 1
//edit_user
/*imagen de perfil(edición)*/
.edit_user
	font-family QuicksandR
	label
		font-family QuicksandB
	.header
		align-items center
		display flex
		justify-content center
		padding 1.2rem 1.1rem
		position relative
		.img_user
			background-position 50%
			background-size 100% auto
			border-radius 50%
			left:10px;
			margin-top:5px
			object-fit contain
			padding 5px
			margin 5px 			
			position absolute;
			width 64px
			height 64px
		.title
			h5
				font-family QuicksandB
			font-size 25px
			p
				font-size 14px
				text-align center
			span
				font-family QuicksandB
#modalConfirm
	/*transition all 1s linear*/
.fade2	
	opacity 0
	transition opacity .3s linear
.fade2.show
	opacity 1

/* home */	
.box_products
	width 80%
	margin auto
	padding-bottom 30px

/* row ofertas */	
.col_offers
	background-color #494949 
	min-height 300px
	.title
		color #FFF
		font-size 36px
		
		margin 30px 0
		text-align center
	.offers
		margin 30px 0
		.div_box_image
			/* sustituido por overflow-x:hidden en div global
			max-width 90%
			margin auto
			*/
			.box_image
				height 200px
				img
					border-radius 8px				
					height 100% 
					margin auto
					padding:20px
			p
				color #FFF
				text-align center
		
/* fin row ofertas */	


.div_products_list
	display block
	text-align center
	width 100%
	.products .layer
		background-color rgba(230,230,230,.1)
		display block
		height 100%
		position absolute
		transition background 0.2s linear
		width 100%
		z-index 1
		&:hover
			background-color rgba(230,230,230,0)
		
			
			
	.products
		cursor pointer
		display inline-flex
		flex-flow row wrap
		margin auto
		position relative
		text-align left
		width 18%
		width calc(95% / 5)
		a
			height 100%
		&:hover			
			border-radius 6px
			outline color7 2px solid
		.image
			align-items center
			display flex
			justify-content center
			position relative
			overflow hidden
			width 100%
			
			/* anulado layer */
			/*
			.layer
				background-color rgba(0,0,0,.1)
				
				border-radius 6px
				cursor pointer			
				display none			
				height 100%
				position absolute
				width 100%
				z-index 4
				
				.favorite
					display flex
					height 30%
					margin-left 5px
					width 100%
					position relative
					.icon					
						align-items center
						background-color color1
						border-radius 50%
						color color1
						display flex
						font-size 1.2em
						height 15px
						justify-content center
						margin-top 5px
						padding 15px
						width 15px
						i
							font-size .8em
							color #FFF
				.plus				
					align-items flex-end
					display flex
					height 70%
					justify-content center
					position relative
					width 100%
					.plus_btn					
						button
							color #FFF
							margin-bottom 5px
			*/		
			img
				padding 25px
				max-height 200px
				transform scale(1)
				transition .2s all ease-in-out
		
		&:hover
			.layer
				display block
			.image
				img
					
					transform scale(1.10)
		a
			width 100%
			.title				
				display block
				font-family Arial
				margin 10px auto
				white-space nowrap
				overflow hidden
				text-align center
				text-overflow ellipsis
			
			.price
				color #000
				display flex
				font-family Arial
				font-weight bold
				justify-content center
/* fin home */

/* modal fastview */
.modal_item
	padding-top 15px
.modal_item .modal-content,.product_item
	.btn_return
		font-family QuicksandB		
		margin-top 10px	
	.title_item
		h5
			font-family QuicksandB
			font-size 1.7em
	
	.carousel_item
		/*display inline-flex*/
		justify-content center
		margin auto
		overflow hidden
		padding 10px		
		img
			margin 100px auto
			padding 10px
			height auto
		
	.quantity_item,.div_product
		
		.price
			
			span				
				font-size 1.5em
				font-weight bold
			p
				font-size 0.7em
		
		.combinations			
			display block
			margin-bottom 20px
			.combinations_name
				border-bottom color7 1px solid
				margin-bottom 8px
				width 100%			
			.combinations_items
				
				display flex
				flex-flow row wrap
				.item
					position relative
					.mylabel
						height 100%
						position absolute
						opacity 0
						cursor pointer
						width 100%
						z-index 999
						
					input + label
						border-radius 5px
						color color6
						margin 5px
						outline color7 1px solid
						padding 2px 8px
						
					input[type=radio]:checked + label
						background-color color1
						color #FFF
					
					
		.quantity
			display flex
			.amount_action
				align-items center
				background-color #696969
				border-radius 50%
				color color7
				display flex
				float left
				font-size .8em
				margin-top 4px
				height 32px
				justify-content center
				text-decoration none
				width 32px
				min-width 32px
				&:first-child
					margin-right 8px
				&:last-child
					margin-left 8px
				&:active
					box-shadow 0 0 6px color6
					color #FFF		
			.form-control
				float left
				width calc(100% - 80px)
			input
				min-width 80px
		.quantity_btn
			align-items center
			display flex
			justify-content center
			
			button
				background-color color1
				border-radius 5px
				color color7
				margin auto 10px
				cursor pointer
				&:active
					box-shadow 0 0 6px color1
					color #FFF
					
			button:disabled
				cursor not-allowed
				pointer-events all 
			.icon_product.disabled
				cursor not-allowed
				opacity 0.7
			
			.icon
				align-items center
				background-color color7
				border-radius 50%
				cursor pointer
				display flex
				font-size 1.2em
				justify-content center
				height 30px
				vertical-align middle
				width 30px				
				i					
					color color7
					font-size .8em
			
				&:active
					box-shadow 0 0 6px color1
					color #FFF
			.icon.disabled
				cursor not-allowed
				opacity 0.7

/* sobreescribimos algunas clases del product y utilizando las clases del modal fastview*/
.div_product
	display flex
	width 100%
	.product_gallery
		width 40%		
		.image
			/*display flex*/
			justify-content center
			margin auto
			padding 0 15px
			
			img
				align-items center
				margin 0 auto
				
				max-width 400px
				max-height 800px
				/* responsive
				width 100%
				*/
				width 95%
				padding 0 30px
	.product
		display block
		margin 20px
		width 60%
		.header
			font-family QuicksandR
			font-size 22px
			text-align center
		.combinations.product_combinations			
			width 90%
			.combinations_items
					
				display flex
				flex-flow row wrap
				.item
					position relative
					.mylabel
						height 100%
						position absolute
						opacity 0
						cursor pointer
						width 100%
						z-index 999
						
					input + label
						border-radius 5px
						color color6
						margin 5px
						outline color7 1px solid
						padding 2px 8px
						
					input[type=radio]:checked + label
						background-color color1
						color #FFF
					
		.icon_product
			align-items center
			background-color color8
			border-radius 50%
			cursor pointer
			display flex
			font-size 1.2em
			justify-content center
			height 40px
			vertical-align middle
			width 40px
			i					
				color color7
				font-size .8em
		
			&:active
				box-shadow 0 0 6px color1
				color #FFF
		.icon_product.active
			background-color color1
			i
				color #FFF
			
/* clases para los botones del slider slick (por defecto se encuentra transparent)
como existen 2 uno es el carousel de product y otro el modal de product
*/
/* comunes para los 2 carouseles*/
.product_slick,.productmodal_slick
	.slick-arrow
		align-items center
		
		border-radius 50%
		display flex	
		justify-content center
		
		z-index 90
		&:before
			position relative
			top 1px	
		&:hover
		&:active
		&:focus
			background-color rgba(0,0,0,.75)
/*modificamos ancho y alto de botones según si es el carousel de product o product modal*/
.product_slick
	.slick-next
		right 8px
	.slick-prev
		left 8px
	.slick-arrow
		background-color rgba(0,0,0,.6)	
		height 36px
		width 36px

.productmodal_slick
	.slick-next
		right 8px
		/* modifica el color del guión
		&:hover
			background-color orange
		*/
	.slick-prev
		left 8px
	
	.slick-arrow
		background-color rgba(0,0,0,.6)	
		height 16px
		width 16px
		/* modifica el color del guión
		&:hover		
			background-color orange
		*/
	.slick-arrow:before
		/* color con before modifica el fondo del guión*/
		color color7
		font-size 30px
		opacity 1
	
	
	
/* modal fastview */
.fastview_footer
	display flex
	flex-flow row
	justify-content end

/* producto */
.product_message, .fastview_message
	display flex
	justify-content space-between
	p
		margin 0


/* fin producto */
				
/* carrito y favoritos, historial pedidos y direcciones */
.cart,.favorite,.history_order,.address
	color color8
	font-family QuicksandR
	.empty
		display flex
		justify-content center
		margin-top 32px
		p
			color color6
			font-size 18px
	.header
		background-color color2
		border-bottom color7 2px solid
		color #FFF
		font-family QuicksandB
		padding 10px
		.address_header
			align-items center 
			display flex
			justify-content space-between
	.div_list
		/* order_num solo en history_order */
		.order_num
			border-bottom #696969 1px solid
			display flex
			font-size 12px
			justify-content space-between			
		.list
			border-bottom color7 1px solid			
			padding 15px 5px
			
			.image
				display flex
				justify-content center				
				img
					min-height 125px
					max-height 128px
					width 100%
			/* solo favorites */
			.content
				display flex
				flex-flow column
				
				.title
					display block
					font-size 16px
					font-weight bold				
					overflow hidden
					text-overflow ellipsis
					white-space nowrap				
					&:hover
						color color1
					a
						&:hover
							color color1
				
				.admin_items.end
					display flex
					justify-content end
					.delete_round
						align-items center
						background-color transparent
						border color7 1px solid
						border-radius 50%
						color color8
						display flex
						height 32px
						justify-content flex-end
						width 32px
						i
							font-size 1.1em
						&:hover
							box-shadow 0 0 6px color7
							color color6
						
						&:focus
							box-shadow 0 0 6px color7
							color color6
				
				.div_soldprice
					padding:10px
					.soldprice
						display flex
						justify-content space-between
						.price
							color color6
							font-family QuicksandB
							font-size 22px
							span
								color color8
								font-size 14px
						.sold
							align-items center
							display flex
							font-size 14px
				.date_favorite
					align-items end
					display flex
					font-size 14px
					height 100%
					justify-content end
					margin-right 4px
				/* fin solo favorites */
					
			/* solo pedidos */
			.div_orders
				display:flex
				
			/* fin solo pedidos */
			.div_quantity
				.quantity
					display flex
					margin-top 10px
					width 100%
					input
						margin auto 5px
						max-width 80px
						min-width 30px
						width 50px
						
						
					.amount_action
						align-items center
						background-color #696969
						border-radius 50%
						color color7
						display flex
						float left
						font-size .8em
						margin-top 4px
						height 22px
						justify-content center
						text-decoration none
						width 22px
						min-width 22px				
						&:first-child
							margin-right 8px
						&:last-child
							margin-left 8px
						&:active
							box-shadow 0 0 6px color6
							color #FFF
						i
							font-size .9em
			.col_price
				align-items center
				display flex
				justify-content center
				
			.total
				display block
				font-size 1.2em
				font-weight bold
				text-align center
		
	.resum
		display flex
		
		justify-content space-between
		padding 10px
		span.left
			font-size 1.2em
		span.right
			font-size 1.3em
	.finish_order
		display flex
		justify-content center
		margin-bottom 20px
		button
			color color7
			&:hover
				color #FFF
		button:disabled
			cursor not-allowed
			pointer-events all
	/* adress_cards solo direcciones*/
	.addresses
		margin 20px 10px
		transition height 0.2s linear
		.box_address_card
			border color7 2px solid
			cursor pointer
			display block
			padding 0 2px
			.address_card
				display flex
				height 100%
				justify-content:space-between
				.input
					align-items center
					display flex
					height 100%
					justify-content center
					width 50px
					/*
					align-items center
					margin auto 10px
					display block
					justify-content center
					width 50px
					max-width 70px
					*/
					input:checked::after
						width 15px
						height 15px
						content ''
						position relative
						display inline-block
						border 2px solid color2
						color orange
						top -4px
						left -1px
						border-radius 15px
						background-color color2
				.actions
					.delete
						display flex
						justify-content center
						margin-top 3px
					.toggle
						align-items flex-end
						display flex
						justify-content center
						height 70%
						.form-check-input
							
							color color2
							display flex
							justify-content center
							&:focus
								/* añadimos la imagen sin fondito azul de bootstrap cuando es focus sin ckeckear*/
								background-image url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e")
								box-shadow 0 0 0 0.25rem rgba(0,178,146,.3)
							&:checked
								background-color color2
								border-color color2
								&:focus
									/* añadimos la imagen en fondo blanco cuando es focus y está checkeado */
									background-image url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")
				
		.box_address_card.active
			border color2 2px solid
	/*			
	#collapse_address
		font-family QuicksandR
		margin-top 5px
		
		
			
		.input
			margin auto
			input:checked::after
				width 15px
				height 15px
				content ''
				position relative
				display inline-block
				border 2px solid color2
				color orange
				top -4px
				left -1px
				border-radius 15px
				background-color color2
		.card-title
			font-size 22px				
		.card-text
			div
				display flex
		
			
		.card-body			
			cursor pointer				
		a
			margin auto
			width 50%
		.card-body.active
			border color2 2px solid
	*/
	/* adress_cards solo direcciones*/
					
/* fin carrito y favoritos, historial pedidos y direcciones */


/*
.address
	
  	.div_address
		padding-bottom 0
	.address_header
		display flex
		justify-content space-between
		padding 10px
	.empty_address
		display flex
		justify-content center
		margin-top 32px
	.address_orders_items
		display flex
		justify-content center
		margin-top 16px		
		width 100%
		.table_orders_items
			width 100%
			thead
				tr
					td
						text-align center
			.admin_items
				display flex
				justify-content space-around
			
	
*/
.payment
	#collapse_payment		
		transition height 0.2s linear	
			
		/*
		input:checked::after
		display none
		*/
		
		.div_btn_payment
			align-items center
			display flex
			justify-content center
			i
				opacity 0
			i.active
				color color2
				opacity 1
			.btn_payment
				display flex
				/*margin 2px auto*/
				margin 5px 8px
				padding 2px 20px
				position relative
				
				input
					cursor pointer
					height 100%
					left 0
					opacity 0
					position absolute
					top 0					
					width 100%
				&:hover
					color color2
				
					
			 /*sustituido por el focus*/
			.btn_payment.active
				color color2
				
				
.btn_collapse
	display flex
	justify-content space-between
	width 100%
	i			
		align-items center
		display flex					
/* fin carrito de compras */

/* panel contacto */
.contact
	.div_title
		
		margin-top 32px
		margin-bottom 20px
		text-align center
		.title
			background-color color2			
			h2
				color #FFF
				font-family QuicksandB
				font-size 22px
				
				margin 10px
	.boxes		
		.div_type
			background-color #f8f9fa
			border color7 1px solid
			border-radius 8px
			display flex
			flex-direction column
			height 250px		
			width 100%
			.icon
				align-items end
				display flex
				height 80px
				justify-content center
				i
					color color8
					font-size 2.5em
			.text			
				margin-top 10px
				text-align center
				p.title
					font-size 20px
					font-weight bold	
				
			.div_centered
				display flex
				flex-direction column
				justify-content center
				flex 1
				button
					align-items center
					display flex
					justify-content center
					margin auto
				p
					font-family QuicksandB
					font-size 22px
					
					margin auto
			
	.questions
		font-family QuicksandR
		ol
			padding 10px			
			list-style upper-greek			
		
			
/* moficamos el icono font awesome con CSS */
		.btn_collapse_questions
			display flex
			font-family QuicksandR
			justify-content center
			padding 15px 0px
			position relative		
			width 100%
			i::before
				content "\f061"
			&:focus			
				background-color color10				
		.btn_collapse_questions.parent
			
			background-color color9
			color color6
			transition all 1s linear
			
				
		.btn_collapse_questions.parent:not(.collapsed)
			background-color color9
			color #000
			i::before
				display none
			i::after
				content "\f063"
								
		.collapse .content
			margin 10px
	
	.collapse_parent, .collapse_child	
		transition height .3s linear
/* modal contacto */
#addTicket
	transition all .3s linear
/* fin modal contacto */	
/* fin panel contacto */

/* panel store */

	

/* fin panel store */
	


/* mensaje de error */
.message_opacity
	left 50%
	opacity 0
	position absolute
	transform translate(-50%,-50%);
	top 120px 
	z-index 1
	transition opacity 1s linear
	.alert
		min-width 700px

/* fin mensaje de error */
			
@media only screen and (max-width 1200px)
	.box_products
			width 90%
	.div_product
		.product_gallery
			.image
				img
					padding 0 0
	.div_product
		.product
			.quantity
				justify-content center
			.quantity_btn
				margin-top 20px
	.div_products_list
		.products
			width calc(95% / 4)
				
	/* para nav_user (pasado a nav_user.styl)
/*@media only screen and (max-width 992px)*/
	
	
			
	
	

@media only screen and (max-width 768px)
	.div_products_list
		.products
			width calc(95% / 3)
			
	.alert.alert-success,.alert.alert-danger
		min-width 300px

	.favorite .div_list .list .content				
		.div_soldprice .soldprice
			display block
	
			
			
		
@media only screen and (max-width 500px)
	.div_products_list
		.products
			width 42%
	//edit_user
	.edit_user
		.header
			justify-content space-between
			.img_user
				position:relative

/* font-face */
@font-face
	font-family QuicksandR	
	src url(../fonts/quicksand/Quicksand-Regular.ttf)
	
@font-face
	font-family QuicksandB	
	src url(../fonts/quicksand/Quicksand-Bold.ttf)

/* fin font-face */



			
			