color1 = #4861ff
color2 = #00b292
color3 = #ff003d
color4 = #489bf8
color6 = #494949
color7 = #E3E3E3
color8 = #696969

.mtop16
	margin-top 16px
.mtop32
	margin-top 32px

.btn_pry
	background-color color1
	&:focus
		box-shadow 0 0 6px color1
.btn_sry
	background-color color2
	&:focus
		box-shadow 0 0 6px color2
.btn_grey
	background-color color6
	&:focus
		box-shadow 0 0 6px color6

.lat, .lat
	width 10%
	li
		list-style none
		a
			color #696969
.lat_left
	li
		float left
		
.lat_right
	justify-content flex-end
	display flex
	li	
		display flex		
		

.nav_user
	display flex
	justify-content center
	width 80%
	ul
		display flex
		padding 0
		
		li
			display flex
			list-style none
			a
				color #696969				
				font-weight bold
				text-decoration none
				
			a.cart
				display flex		
				span
					display flex
					align-items center
					i
						margin-right 2px
.menu_hidden
	display none

.div_products_list
	display block
	text-align center
	width 100%
	
	.products
		display inline-block
		margin auto
		position relative
		text-align left
		width 18%
			
		.image
			align-items center
			display flex
			justify-content center
			position relative
			overflow hidden
			width 100%
			.layer
				background-color rgba(0,0,0,.1)
				border-radius 6px
				cursor pointer			
				display none			
				height 100%
				position absolute
				width 100%
				z-index 4
				
				.favorite
					display flex
					height 30%
					margin-left 5px
					width 100%
					position relative
					.icon					
						align-items center
						background-color color1
						border-radius 50%
						color color1
						display flex
						font-size 1.2em
						height 15px
						justify-content center
						margin-top 5px
						padding 15px
						width 15px
						i
							font-size .8em
							color #FFF
				.plus				
					align-items flex-end
					display flex
					height 70%
					justify-content center
					position relative
					width 100%
					.plus_btn					
						button
							color #FFF
							margin-bottom 5px
						
			img
				padding 12px
				max-height 200px
				transform scale(1)
				transition .3s all ease-in-out
		
		&:hover
			.layer
				display block
			.image
				img
					transform scale(1.10)
		.title
			display flex
			margin 10px auto
		.price
			display flex
			justify-content center

.modal_item
	padding-top 15px
.modal_item .modal-content,.product_item	
	.title_item
		h5
			font-family QuicksandB
			font-size 1.7em
	
	.carousel_item
		/*display inline-flex*/
		justify-content center
		margin auto
		overflow hidden
		padding 10px		
		img
			margin auto
			padding 10px
			height auto
		
	.quantity_item,.div_product
		
		.price
			
			span				
				font-size 1.5em
			p
				font-size 0.7em
		
		.combinations			
			display block
			margin-bottom 20px
			.combinations_name
				border-bottom color7 1px solid
				margin-bottom 8px
				width 100%			
			.combinations_items
				
				display flex
				flex-flow row wrap
				.item
					position relative
					.mylabel
						height 100%
						position absolute
						opacity 0
						cursor pointer
						width 100%
						z-index 999
						
					input + label
						border-radius 5px
						color color6
						margin 5px
						outline color7 1px solid
						padding 2px 8px
						
					input[type=radio]:checked + label
						background-color color1
						color #FFF
					
					
		.quantity
			display flex
			.amount_action
				align-items center
				background-color #696969
				border-radius 50%
				color color7
				display flex
				float left
				font-size .8em
				margin-top 4px
				height 32px
				justify-content center
				text-decoration none
				width 32px
				&:first-child
					margin-right 8px
				&:last-child
					margin-left 8px
				&:active
					box-shadow 0 0 6px color6
					color #FFF		
			.form-control
				float left
				width calc(100% - 80px)
		.quantity_btn
			align-items center
			display flex
			justify-content center
			
			button
				background-color color1
				border-radius 5px
				color color7
				margin auto 10px
				&:active
					box-shadow 0 0 6px color1
					color #FFF
			.icon
				align-items center
				background-color color1
				border-radius 50%
				cursor pointer
				display flex
				font-size 1.2em
				justify-content center
				height 30px
				vertical-align middle
				width 30px
				i					
					color color7
					font-size .8em
			
				&:active
					box-shadow 0 0 6px color1
					color #FFF
/* sobreescribimos algunas clases del product y utilizando las clases del modal fastview*/
.div_product
	display flex
	
	
	width 100%
	.product_gallery
		width 40%		
		.image
			/*display flex*/
			justify-content center
			margin auto
			padding 0 15px
			
			img
				align-items center
				margin 0 auto
				
				max-width 400px
				max-height 800px
				/* responsive
				width 100%
				*/
				padding 0 30px
	.product
		display block
		margin 20px
		width 60%
		.header
			text-align center
		.combinations.product_combinations			
			width 90%
			.combinations_items
					
				display flex
				flex-flow row wrap
				.item
					position relative
					.mylabel
						height 100%
						position absolute
						opacity 0
						cursor pointer
						width 100%
						z-index 999
						
					input + label
						border-radius 5px
						color color6
						margin 5px
						outline color7 1px solid
						padding 2px 8px
						
					input[type=radio]:checked + label
						background-color color1
						color #FFF
					
		.icon_product
			align-items center
			background-color color1
			border-radius 50%
			cursor pointer
			display flex
			font-size 1.2em
			justify-content center
			height 40px
			vertical-align middle
			width 40px
			i					
				color color7
				font-size .8em
		
			&:active
				box-shadow 0 0 6px color1
				color #FFF
		
			
/* clases para los botones del slider slick (por defecto se encuentra transparent)
como existen 2 uno es el carousel de product y otro el modal de product
*/
/* comunes para los 2 carouseles*/
.product_slick,.productmodal_slick
	.slick-arrow
		align-items center
		
		border-radius 50%
		display flex	
		justify-content center
		
		z-index 90
		&:before
			position relative
			top 1px	
		&:hover
		&:active
		&:focus
			background-color rgba(0,0,0,.75)
/*modificamos ancho y alto de botones según si es el carousel de product o product modal*/
.product_slick
	.slick-next
		right 8px
	.slick-prev
		left 8px
	.slick-arrow
		background-color rgba(0,0,0,.6)	
		height 36px
		width 36px
	
.productmodal_slick
	.slick-next
		right 8px
		/* modifica el color del guión
		&:hover
			background-color orange
		*/
	.slick-prev
		left 8px
	
	.slick-arrow
		background-color rgba(0,0,0,.6)	
		height 16px
		width 16px
		/* modifica el color del guión
		&:hover		
			background-color orange
		*/
	.slick-arrow:before
		/* color con before modifica el fondo del guión*/
		color color7
		font-size 30px
		opacity 1
	
	
		
				
		
		
		
			
	
	
@media only screen and (max-width 992px)
	.nav_user
		
		ul
			display none
	.lat_right
			
	
	.menu_hidden
		display flex
		align-items center
		
/* font-face */
@font-face
	font-family QuicksandR	
	src url(../fonts/quicksand/Quicksand-Regular.ttf)
	
@font-face
	font-family QuicksandB	
	src url(../fonts/quicksand/Quicksand-Bold.ttf)

/* fin font-face */


			
			